@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;700&display=swap");

.App {
  text-align: center;
  position: relative;
}
section button {
  height: 4rem;
  width: 14rem;
  font-family: "Mulish", sans-serif;
  border: none;
  border-radius: 5px;
  margin-top: 5%;
  background-color: #e84535;
  font-weight: 400;
  color: white;
  cursor: pointer;
}
html {
  background-color: #121212;
  font-family: "Mulish", sans-serif;
}
.userLogo {
  margin-top: 5rem;
}
h1,
h2,
label {
  color: white;
}
.classTh {
  background-color: rgba(255,255,255, 0.2);
  width: 5%;
  height: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 1%;
  color: white;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 1rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .classTd {
    min-width: 5rem !important;
    text-align: center !important;
  }
  .classTh {
    min-width: 5rem !important;
  }
  .achievementTitleTop{
    font-size: 1rem !important;
  }
}
.dark { 
  background-color: rgba(255,255,255, 0.05) !important;
}
.dark2 {
  background-color: rgba(255,255,255, 0.05) !important;
}
.dark3 {
  background-color: rgba(255,255,255, 0.07) !important;
}
.classTd {
  background-color: rgba(255,255,255, 0.05);
  width: 5%;
  height: 2rem;
  padding-top: 1%;
  padding-bottom: 1%;
  color: white;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-align: left;
  padding-left: 1%;
}
.classTr {
  text-align: center;
  width: 50%;
  margin-bottom: -1rem;
}
.classTrBody {
  text-align: center;
  width: 100%;
}
body {
  margin: 0;
  position: relative;
}
.swal2-title,
.swal2-content {
  color: white !important;
}

.swal2-success-circular-line-right,
.swal2-success-circular-line-left,
.swal2-popup,
.swal2-success-fix {
  background-color: #393e46 !important;
}
.swal2-success-line-tip,
.swal2-success-line-long,
.swal2-confirm {
  background-color: #29bc64 !important;
}
.swal2-success-ring {
  border: 0.25em solid rgba(41, 188, 100, 0.3) !important;
}
.swal2-icon.swal2-success {
  color: #29bc64 !important;
  border-color: #29bc64 !important;
}
.achievementTitleTop{
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  display:inline-block;
  font-size: 1.3rem;
  margin-left: 0.3rem;
}
.achievementTitle{
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  display:inline-block;
  width: 30%;
  text-align:center;
}
.achievementContainer{
  width:90%;
  background-color: rgba(255,255,255, 0.1);
  margin:auto;
  margin-top: 1rem;
  padding-top: 0.5rem;
  border-radius:10px;
}
table {
  background-color: white;
  color: black;
  margin: auto;
}
.loadingDiv{
  width: 90%;
  height: 2rem;
  border-radius: 50px;
  background-color: white;
  margin: auto;
}

.progressbar{
  text-align:center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p {
  color: white;
}

@media screen and (max-width: 600px){
  .homeClassNav{
    width: 2rem;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 1rem;
  position: relative !important;
  top: 0.65rem !important;
}}

.fillerDiv{
  height: 100%;
  background: rgb(232,69,69) !important;
background: linear-gradient(90deg, rgba(232,69,69,1) 0%, rgba(242,247,0,1) 100%) !important;
  border-radius : inherit;
  text-align: right;
  background-image: url("./img/uploadImg.jpg");
}
.uploadTitle{
  color: white;
  width:100%;
  height: 100%;
  margin: none;
}

.headColor1{
  background: rgb(232,69,69);
background: linear-gradient(90deg, rgba(232,69,69,1) 0%, rgba(235,121,49,1) 100%);
}
.headColor2{
  background: rgb(235,121,49);
background: linear-gradient(90deg, rgba(235,121,49,1) 0%, rgba(239,188,23,1) 100%);
}
.headColor3{
  background: rgb(239,188,23);
background: linear-gradient(90deg, rgba(239,188,23,1) 0%, rgba(242,247,0,1) 100%);
color: black;
}